{% extends 'base.html' %}
{% load static %}


{% block title %}Descubre{% endblock %}


{% block content %}


{% include "logo_index.html" %}

<div class="fixed top-16 left-64 h-5/6 w-3/5 rounded-lg backdrop-opacity-10 backdrop-invert flex justify-center  no-scrollbar"
    style="backdrop-filter: blur(10.8px);" id="scroll_b">
    <div class="grid grid-cols-1 gap-8 w-10/12">
        <div class="overflow-hidden rounded-lg w-full mt-28 h-80 bg-gray-200" id="miDiv">as</div>
        <div class="overflow-hidden rounded-lg w-full h-80 bg-gray-200">as</div>
        <div class="overflow-hidden rounded-lg w-full h-80 bg-gray-200">as</div>
    </div>
</div>
<script>
 
</script>



{% endblock %}