{% load static %}
<div class="fixed top-0 left-0 w-screen bg-transparent h-16 z-10" style="backdrop-filter: blur(1.8px); ">
  <div id="container" class="flex justify-end mx-3 ">
    <div class="logo-container">
      <ul class="mr-8 my-3">
        <li class="w-44 h-16 bg-white  rounded-lg pt-6 flex items-center ">
          <div class=" logo-2 ">
            <a href="">
              <h2 class="decoration-black font-medium text-xl ">MSWWW</h2>
              <p class="text-sm">Optimiza Tu Vida</p>
            </a>
          </div>
    </div>
    </li>
    </ul>
  </div>
</div>